$primary: 		#26262d;
$primary-alt:	#3b3b42;
$secondary: 	#3ae389;
$highlight: 	#e4e4e4;

body {
	background-color: $primary;
}

.todo-container {
	margin: 0 auto;
	padding: 20px;
	height: 100vh;
	width: 800px;
	background-color: $primary;

	@media(max-width: 800px) {
		& {
			width: 100vw;
		}
	}

	@media(max-width: 500px) {
		& {
			padding: 10px;
		}
	}

	& .entries {
		font-size: 18px;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		color: $secondary;

		& ul {
			background: $primary-alt;
			border-radius: 5px;
			padding: 0;

			// &:hover {
			// 	& > li.buttons {
			// 		display: block;
			// 	}
			// }
		}

		& li {
			list-style-type: none;

			&.text {
				margin: 0;
				padding: 5px 10px;
				cursor: pointer;
			}

			&.buttons {
				padding: 5px 5px;
				text-align: center;
				//display: none;
				background: $secondary;
				color: $primary;
				cursor: pointer;
				border-radius: 0 0 5px 5px;
				
				& span {
					padding: 0px 3px;

					& .glyphicon:hover {
						color: $highlight;
					}
				}
			}
		}
	}

	& .add {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 20px;

		@media(max-width: 500px) {
			& {
				margin-bottom: 10px;
			}
		}

		& .add-button {
			//width: 35px;
			padding: 10px;
			color: $secondary;
			cursor: pointer;

			&:hover {
				color: $highlight;
			}
		}
	}

	& form.entry-form {
		width: 100%;

		& input.entry-form-input {
			padding: 5px 10px;
			background: $primary;
			color: $secondary;
			border: none;
			font-size: 18px;
			font-family: 'Roboto Mono', monospace;
			font-weight: 500;
			width: 100%;
			background-color: $primary-alt;
			border-radius: 5px;
		}
	}
}

