body {
	background-color: #26262d;
}

.todo-container {
	margin: 0 auto;
	padding: 20px;
	height: 100vh;
	width: 800px;
	background-color: #26262d;

	@media(max-width: 800px) {
		& {
			width: 100vw;
		}
	}

	& .entries {
		font-size: 18px;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		color: #e95785;

		& ul {
			background: #3b3b42;
			border-radius: 5px;
			padding: 5px;

			&:hover {
				& > li.buttons {
					display: block;
				}
				& > li.text {
					padding-right: 70px;
				}
			}
		}

		& li {
			display: inline;
			list-style-type: none;

			&.text {
				margin: 0;
				padding: 0;
			}

			&.buttons {
				display: none;
				float: right;
				cursor: pointer;
				
				& span {
					padding: 0 1px;
				}
			}
		}
	}

	& .add {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		& .add-button {
			width: 30px;
			padding: 10px;
			color: #e95785;
			cursor: pointer;
		}

		& .add-form {
			width: 95%;

			& .add-form-input {
				padding: 8px 0 10px 20px;
				background: #26262d;
				color: #e95785;
				border: none;
				font-size: 16px;
				font-family: 'Roboto Mono', monospace;
				font-weight: 500;
				width: 100%;
			}
		}
	}
}

